<div class="toppage">
	<h1 class="toppage-title">ようこそ　Bookers へ！</h1>
	<div class="sub-class">
		<p class="toppage-p"><span>Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
		<p class="toppage-p">印象を共有し交換することができます</p>
	</div>
	<div class="toppage-link">
		<%=link_to "start", posts_path %>
	</div>
</div>


